@import url("https://rsms.me/inter/inter.css");

:root {
  scroll-behavior: auto;
  @apply dark;
}

::-moz-selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

::selection {
  background: var(--color-bg-accent);
  color: var(--color-text-on-accent);
}

.light {
  --color-bg-accent: #63b3ed;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-bg-accent-hover: #73116c;
  --color-text-accent: #c330b2;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-tertiary: #4a5568;
  --color-text-on-accent: #f7fafc;
  --color-fill-primary: #c05bb6;
  --color-fill-secondary: #edf2f7;
  --color-gradient-accent1: #c330b2;
  --color-gradient-accent2: #73116c;
  --color-code-background: #edf2f7;
  --color-code-text: #2d3748;
  --color-code-comment: #718096;
  --color-code-punctuation: #39adb5;
  --color-code-const: #7c4dff;
  --color-code-bool: #7c4dff;
  --color-code-string: #f6a434;
  --color-code-var: #e53935;
  --color-code-func: #3d5afe;
  --color-code-keyword: #7c4dff;
  --color-code-regex: #6182b8;
}

.dark {
  --color-bg-accent: #5b9fe1;
  --color-bg-primary: rgba(18, 27, 59, 0.75);
  --color-bg-secondary: rgba(8, 12, 27, 0.75);
  --color-bg-accent-hover: #73116c;
  --color-text-accent: #c330b2;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-text-tertiary: #a0aec0;
  --color-text-on-accent: #1a202c;
  --color-fill-primary: #1fc8e4;
  --color-fill-secondary: #161b25;
  --color-gradient-accent1: #c330b2;
  --color-gradient-accent2: #73116c;
  --color-code-background: #161b25;
  --color-code-text: #edf2f7;
  --color-code-comment: #718096;
  --color-code-punctuation: #edf2f7;
  --color-code-const: #ff79c6;
  --color-code-bool: #bd93f9;
  --color-code-string: #50fa7b;
  --color-code-var: #f8f8f2;
  --color-code-func: #f1fa8c;
  --color-code-keyword: #8be9fd;
  --color-code-regex: #ffb86c
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  transition: all 300ms ease 0s;
  overflow-x: hidden;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  @apply antialiased;
}
.rounded-lg{
    border-radius: 0rem !important;
    border-color: var(--color-fill-primary);
    border-style: solid;
    border-width: thin;
    box-shadow: 0px 0px 3px 1px var(--color-fill-primary);
    border-left: 1px solid var(--color-fill-primary);
    border-right: 1px solid var(--color-fill-primary);
    border-bottom: 1px solid var(--color-fill-primary);
    /*clip-path: polygon(-15px 0%, calc(100% + 15px) 0%, calc(100% + 15px) 100%, 20px 100%, -15px calc(100% - 35px));*/
}

.cyber-btn{
    color: var(--color-text-primary);
    background: var(--color-bg-primary);
    border-radius: 0rem;
    border-color: var(--color-gradient-accent1);
    border-style: solid;
    border-width: thin;
    box-shadow: 0px 0px 3px 1px var(--color-gradient-accent1);
}

.cyber-btn:hover{
  background: var(--color-bg-secondary);
  box-shadow: 2px 2px 5px 2px var(--color-gradient-accent1);
}

.text-glow-primary{
  text-shadow: 0 0 3px var(--color-text-primary);
}

.text-glow-accent{
  text-shadow: 0 0 3px var(--color-fill-primary);
}

.text-glow-accent-two{
  text-shadow: 0 0 3px var(--color-text-accent);
}

.backgroundimg{
  background: rgba(0,0,0,0.35) url("../images/cityblur.png");
  background-blend-mode: darken;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  z-index: -1000;
  position: fixed;
}


.full-width-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div[class$="-TimelineControlContainer "] >{
  display: none !important;
}
.card-content-wrapper header{
  margin-left: 0.5em !important;
}

.fluid {
  z-index: -10;
}

.fluid-bg {
  transform: scale(2.85);
  z-index: -10;
}


.fluid-rotate {
  animation: rotate 50s linear infinite;
}

.fluid-rotate-faster {
  animation: rotate 25s linear infinite;
}

a.anchor {
  fill: var(--color-text-accent);
  top: 0.65rem !important;
}

aside.sticky {
  top: 4rem;
}

@media (min-width: 1024px) {
  :root {
    scroll-behavior: smooth;
  }
}



.accent-gradient:hover {
  background-position: right center;
}

.timeline-card-content{
  min-height: 100px !important;
}

/*
#fluid-gradient {
  --color-stop-1: var(--color-gradient-accent2);
  --color-stop-2: var(--color-gradient-accent1); 
}
*/

#fluid-gradient {
  --color-stop-1: #b2b5d0;
  --color-stop-2: #b6b6d2;
  --color-stop-3: #c1b7d6;
  --color-stop-4: #d4bada;
  --color-stop-5: #ecbcd8;
  --color-stop-6: #ffc0cf;
  --color-stop-7: #ffc8c1;
  --color-stop-8: #ffd3b2;
  --color-stop-9: #ffe2a7;
  --color-stop-10: #ffefa4;
  --color-stop-11: #fff8a6;
  --color-stop-12: #fffba7;
  
}

.fluid-gradient{
  fill: url(#fluid-gradient) var(--color-fill-primary);
}

.accent-gradient {
  color: #fff;
  background: var(--color-bg-accent);
  background: -moz-linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background: linear-gradient(
    45deg,
    var(--color-gradient-accent2) 0%,
    var(--color-gradient-accent1) 100%
  );
  background-size: 200%;
  transition: background-position 0.5s ease-out;
}

.inline-svg-icon svg{
  display: inline
}

.filter-category{
  cursor:pointer;
}

.filter-category.selected{
  border: 2px solid var(--color-bg-accent);
  font-weight: bold;
}

.acc-btn{
  cursor: pointer;
}


.acc-btn.collapsed .acc-title::before{
  font-family: "Font Awesome 5 Free";
	content: '\f054';
	font-weight: bold;
  padding: 0.2em;
  color: var(--color-text-accent);
}

.acc-btn .acc-title::before{
  font-family: "Font Awesome 5 Free";
	content: '\f078';
	font-weight: bold;
  transform: rotate(90deg);
  padding: 0.2em;
  color: var(--color-text-accent);
}
